<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL_TITLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>beta.simalary.romanpadprefs</string>
			<key>key</key>
			<string>enabledSwitch</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>beta.simalary.romanpad.preferences-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPEARANCE_TITLE</string>
			<key>footerText</key>
			<string>APPEARANCE_FOOTER</string>			
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>beta.simalary.romanpadprefs</string>
			<key>key</key>
			<string>zeroStyle</string>
			<key>label</key>
			<string>ZERO_STYLE</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>ZERO_DASH</string>
				<string>ZERO_ZERO</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>PostNotification</key>
			<string>beta.simalary.romanpad.preferences-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>beta.simalary.romanpadprefs</string>
			<key>key</key>
			<string>letterAssistanceSwitch</string>
			<key>label</key>
			<string>LETTER_ASSISTANCE</string>
			<key>PostNotification</key>
			<string>beta.simalary.romanpad.preferences-changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>RomanPad</string>
</dict>
</plist>
